<h1>Create a Portfolio</h1>

<%= form_for @portfolio do |f| %>
  <% if @portfolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@portfolio.errors.count, "error") %> prohibited this item from being saved:</h2>
      <ul>
        <% @portfolio.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <label> Portfolio </label>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br/>
  
  <div class="field">
    <%= f.number_field :user_id, value: current_user.id, type: "hidden" %>
  </div>

  <%= f.submit %>
<% end %>