<h1>Welcome to your Finances Portfolio App!</h1>
<h3>Think Tech. Think Investing. Learn to diversify your portfolios.
We make 0 Commissions and no deposit minimums.
Everyone gets better tools for better investing.</h3>

<br><br>
<h1><%= link_to "Sign Up Today", new_user_registration_path %></h1>
<br><br>

<% @coins %>

<% for x in @coins['data'] %>
 <% for coin in @my_coins  %>
     <% if coin == x['symbol'] %>
         <%= x['name'] %>: $<%= (x['quote']['USD']['price']).round(5) %> <br>
         Rank: <%= x['cmc_rank'] %> <br><br>
     <% end %>
 <% end %>
<% end %>

<br>
<% @search_stocks %> 

<% for x in @search_stocks %>
 <% for stock in @my_stocks  %>
     <% if stock == x['symbol'] %>
         <%= x['name'] %> <br>
         <%= number_to_currency(x['price']) %> <br><br>
     <% end %>
 <% end %>
<% end %>

