<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Search for a specific cryptocurrency or stock.</h3>
  </div>
<div class="panel-body">

<br>

<%= form_tag home_search_path, :method => 'POST' do %>
    <%= text_field_tag 'sym', nil, placeholder: 'Enter Crypto or Stock Symbol', size: 50 %>
    <%= submit_tag 'Lookup Quote' %>
<% end %>

<br><br>

<% if @symbol %>
    <% for x in @search_coin['data'] %>
        <% if @symbol == x['symbol'] %>
           <strong><%= x['name'] %></strong> <br><br>
           <strong><%= x['symbol'] %></strong> <br><br>
           <strong>$ <%= x['quote']['USD']['price'] %></strong> <br><br>
           <strong> Rank: <%= x['cmc_rank'] %></strong> <br><br>
        <% end %>
    <% end %>
    
<% end %>
<% if @stock %>
    <% for x in @search_stocks %>
        <% if @stock == x['symbol'] %>
           <strong><%= x['symbol'] %></strong> <br><br>
           <strong><%= x['name'] %></strong> <br><br>
           <strong>$ <%= x['price'] %></strong> <br><br>
        <% end %>
    <% end %>
<% end %>