<!DOCTYPE html>
<html>
  <head>
    <title>Investing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', "data-turbo-track": "reload" %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
  <%= render "home/navbar" %>

  <div class="container" >
    <%= render "home/flash" %>
    <%= yield %>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br>
  <footer class="branding">
        <small>&copy; Copyright <strong> Vincent Tran 2022 </strong></small>  
  </footer>
  </body>
</html>